/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 100%;
    padding: 10px;
  }

  .left {
    width: 0%;
  }

  .middle {
    width: 100%;
    padding: 0rem;
  }

  .right {
    width: 100%;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* =========================
   CONTENUTO PRINCIPALE
   ========================= */
  main {
    padding-top: 3rem;
  }

  /* niente sfondo bianco */
  main * {
    background: transparent;
  }

  /* =========================
   TITOLI
   ========================= */
  h1,
  h2,
  h3,
  h4 {
    font-family: Inter, sans-serif;
    font-weight: 600;
    line-height: 1;
    text-align: left;
  }

  h1 {
    font-size: 28pt;
    text-transform: uppercase;
  }

  h2 {
    font-size: 22pt;
  }

  h3 {
    font-size: 18pt;
  }

  h4 {
    font-size: 14pt;
  }

  /* =========================
   TESTO
   ========================= */
  p {
    margin-bottom: 1rem;
  }

  a {
    color: var(--link);
    text-decoration: none;
  }

  a:hover {
    color: var(--primary);
  }

}