@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@500;&display=swap');

:root {
  --text: #1f1f1f;
  --muted: #6b6b6b;
  --primary: #a82596;
  /* Mulberry */
  --border: #dddddd;
  --link: #06608f;
  /* Midnight Blue */
  --background: #EEF3F6;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  font-size: 13pt;
  font-weight: 500;
  margin: 0;
  background: var(--background);
  color: var(--text);
  line-height: 1.65;
  text-align: justify;
}

/* =========================
   TOP BAR
   ========================= */
.topbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 3rem;
  background: #ffffff;
}

.input {
  padding-top: 2rem;
  border-bottom: 1px solid var(--border);
  padding-bottom: 3rem;
}

/* =========================
   LAYOUT 3 COLONNE
   ========================= */

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 100%;
  padding: 10px;
}

.left {
  width: 19.1%;
  position: relative;
}

.middle {
  width: 61.8%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.right {
  width: 19.1%;
  position: relative;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* =========================
   CONTENUTO PRINCIPALE
   ========================= */

#logo_link {
  display: flex;
  justify-content: center;
  align-items: center;
}

#foto_logo {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding-top: 3rem;
}

/* niente sfondo bianco */
main * {
  background: transparent;
}

/* =========================
   TITOLI
   ========================= */
h1,
h2,
h3,
h4 {
  font-family: "Libre Baskerville", serif;
  font-weight: 600;
  line-height: 1;
  text-align: left;
}

h1 {
  font-size: 23pt;
  text-transform: uppercase;
}

h2 {
  font-size: 20pt;
}

h3 {
  font-size: 17pt;
}

h4 {
  font-size: 14pt;
}

/* =========================
   TESTO
   ========================= */
p {
  margin-bottom: 1rem;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}

#primary_text {
  color: var(--primary);
}

/* ======================= FIGURE GENERALE =========== */

.image {
  max-width: 75%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.figcaption {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: small;
}

.allargata {
  max-width: 95%;
  transition: all .25s linear;
}

/* ================ BOTTONI VERSIONE MOBILE ======== */

#bottoni_mobile {
  visibility: hidden;
  height: 0;
  width: 0;
}