@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --text: #1f1f1f;
  --muted: #6b6b6b;
  --primary: #a82596;
  /* Mulberry */
  --border: #dddddd;
  --link: #191970;
  /* Midnight Blue */
  --background: #1919704F;
  /* Midnight Blue 30% */
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-size: 13pt;
  margin: 0;
  background: var(--background);
  color: var(--text);
  line-height: 1.5;
  text-align: justify;
}

/* =========================
   TOP BAR
   ========================= */
.topbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 3rem;
  background: #ffffff;
}

.input {
  padding-top: 2rem;
  border-bottom: 1px solid var(--border);
  padding-bottom: 3rem;
}

.logo {
  font-weight: 600;
  color: var(--primary);
  display: block;
}

/* =========================
   LAYOUT 3 COLONNE
   ========================= */

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 100%;
  padding: 10px;
}

.left {
  width: 20%;
}

.middle {
  width: 60%;
  padding: 1rem;
}

.right {
  width: 20%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.layout {
  display: grid;
  /*grid-template-columns: 220px minmax(0, 760px) 200px;*/
  gap: 2rem;
  padding: 2rem 1.5rem 4rem;
}

/* =========================
   CONTENUTO PRINCIPALE
   ========================= */
main {
  padding-top: 3rem;
}

/* niente sfondo bianco */
main * {
  background: transparent;
}

/* =========================
   TITOLI
   ========================= */
h1,
h2,
h3,
h4 {
  font-family: Inter, sans-serif;
  font-weight: 600;
  line-height: 1;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.75rem;
  font-weight: 600;
}

/* =========================
   TESTO
   ========================= */
p {
  margin-bottom: 1rem;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}

/* =========================
   BOX DIDATTICI
   ========================= */
.box {
  border-left: 4px solid var(--primary);
  background: rgba(112, 25, 61, 0.05);
  padding: 1rem 1.2rem;
  margin: 1.8rem 0;
}