@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --text: #1f1f1f;
  --muted: #6b6b6b;
  --primary: #a82596;
  /* Mulberry */
  --border: #dddddd;
  --link: #06608f;
  /* Midnight Blue */
  --background: #06608f4F;
  /* Midnight Blue 30% */
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-size: 13pt;
  margin: 0;
  background: var(--background);
  color: var(--text);
  line-height: 1.5;
  text-align: justify;
}

/* =========================
   TOP BAR
   ========================= */
.topbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 3rem;
  background: #ffffff;
}

.input {
  padding-top: 2rem;
  border-bottom: 1px solid var(--border);
  padding-bottom: 3rem;
}

/* =========================
   LAYOUT 3 COLONNE
   ========================= */

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 100%;
  padding: 10px;
}

.left {
  width: 19.1%;
}

.middle {
  width: 61.8%;
  padding-right: 3rem;
}

.right {
  width: 19.1%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* =========================
   CONTENUTO PRINCIPALE
   ========================= */
main {
  padding-top: 3rem;
}

/* niente sfondo bianco */
main * {
  background: transparent;
}

/* =========================
   TITOLI
   ========================= */
h1,
h2,
h3,
h4 {
  font-family: Inter, sans-serif;
  font-weight: 600;
  line-height: 1;
}

h1 {
  font-size: 28pt;
  text-transform: uppercase;
}

h2 {
  font-size: 22pt;
}

h3 {
  font-size: 18pt;
}

h4 {
  font-size: 14pt;
}

/* =========================
   TESTO
   ========================= */
p {
  margin-bottom: 1rem;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}
