@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/*:root {
  --primary: #a83e9e;
  --border: #dddddd;
  --link: #191970; 
}*/

.search-box {
  font-family: Inter, sans-serif;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
}

#searchInput {
  position: absolute;
  border: 2px solid var(--primary);
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: white;
  font-family: Inter, sans-serif;
  align-items: center;
  justify-content: center;
  width: 30%;
  transition: width 0.4s ease-in-out;
  height: 25pt;
  display: flex;
  padding-left: .8rem;
  color: var(--text);
}

#searchInput[type=search]:focus {
  width: 50%;
  align-items: center;
  justify-content: center;
  display: block;
}

#searchResults {
  position: absolute;
  display: none;
  width: 45%;
  background: white;
  max-height: auto;
  height: auto;
  overflow-y: auto;
  z-index: 1000;
  border-radius: 5pt;
  top: 16.9rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
}

.result {
  padding: 8px;
  cursor: pointer;
  border: none; /*1px solid var(--border);*/
}

.result:hover {
  background: #00000018;
}

mark {
  background: #ffeb3b;
}
