@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* =========================
   VARIABILI
   ========================= */
:root {
  --bg: #f3f3f5;
  --text: #1f1f1f;
  --muted: #6b6b6b;
  --primary: #70193D; /* Mulberry */
  --border: #dddddd;
  --link: #191970; /* Midnight Blue */
}

/*
.input {
  flex: 1; 
  font-family: Inter, sans-serif;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--border);
  width: 100%;
  padding: 1rem;
}

.searching[type=search] {
  width: 40%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  transition: width 0.4s ease-in-out;
  height: 25pt;
}

.searching[type=search]:focus {
  width: 100%;
}
*/

#search-box {
  font-family: Inter, sans-serif;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
}

#searchInput {
  border: 2px solid var(--primary);
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: white;
  font-family: Inter, sans-serif;
  align-items: center;
  justify-content: center;
  width: 30%;
  transition: width 0.4s ease-in-out;
  height: 25pt;
  display: flex;
  padding-left: .8rem;
}

#searchInput[type=search]:focus {
  width: 50%;
  align-items: center;
  justify-content: center;
}

/* QUALCOSA QUI NON VA
#searchResults {
  position: absolute;
  top: 100%;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
}

.result {
  padding: 8px;
  cursor: pointer;
}

.result:hover {
  background: #f5f5f5;
}

mark {
  background: #ffeb3b;
}
*/