@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --search-background: white;
}

.search-box {
  font-family: Inter, sans-serif;
  align-items: center;
  justify-content: center;
  width: 45rem;
  display: flex;
  position: relative;
}

#searchInput {
  border: 2px solid var(--primary);
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: var(--search-background);
  font-family: Inter, sans-serif;
  align-items: center;
  justify-content: center;
  width: 25rem;
  transition: width 0.5s ease-in-out;
  height: 25pt;
  display: flex;
  padding-left: .8rem;
  color: var(--text);
}

::placeholder{
  color: var(--text);
}

#searchInput[type=search]:focus {
  width: 45rem;
  align-items: center;
  justify-content: center;
  display: block;
}

#searchResults {
  position: absolute;
  width: 44rem;
  top: 100%;

  background: var(--search-background);
  max-height: 0;
  overflow: hidden;
  pointer-events: none;

  z-index: 1000;
  border-radius: 5pt;
  box-shadow: 0px 8px 16px 0px var(--text);
  transition: max-height 0.5s ease,
              opacity 0.5s ease;
}

#searchResults.open {
  max-height: 20rem;
  opacity: 1;
  pointer-events: auto;
}

.result {
  padding: 8px;
  cursor: pointer;
  border: none;
}

.result:hover {
  background: #00000018;
}

mark {
  background: var(--primary);
}