/* ======================= MAIN CSS ======================= */

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 992px) {
  .left {
    margin: 0;
    padding: 0;
  }

  .middle {
    padding: 0px 15px;
    width: 100%;
  }

  .right {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
  }

  main {
    padding-top: 0rem;
  }

  .input {
    padding-bottom: 2rem;
  }

    /* ==================== MARGIN INDICE =========================== */
  .h3_indice {
    margin-left: 3rem;
  }

  .h4_indice {
    margin-left: 4.5rem;
    margin-top: -0.5rem;
  }

  /* =================== BOTTONI MOBILE =============== */
  #bottoni_mobile {
    visibility: visible;
    display: flex;
    height: 20pt;
  }

  #apri-indice-mobile {
    position: absolute;
    width: 50%;
    height: 20pt;
    background-color: var(--search-background);
    color: var(--text);
    border-top: 0px;
    border-left: 0px;
    border-bottom: 1px solid var(--border);
    border-right: .5px solid var(--border);
    cursor: pointer;
  }

  #apri-accessibilità-mobile {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 20pt;
    background-color: var(--search-background);
    color: var(--text);
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px solid var(--border);
    border-left: .5px solid var(--border);
    cursor: pointer;
  }

  .titolo-bottone-mobile {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
  }

  /* ======================= COLONNA SINISTRA ===========*/
  .dropdown {
    max-height: 0;
    width: 200%;
    overflow: hidden;
    transition: max-height 0.25s linear, padding 0.25s linear;

    background-color: var(--search-background);
    box-shadow: 0px 8px 16px 0px var(--text);
    border-radius: 0px 10px 10px 0px;
  }

  .indice_aperto {
    max-height: 50rem;
    width: 200%;
    padding-top: 1rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }

  /* ======================= COLONNA DESTRA ===========*/
  .sidebar_right {
    position: absolute;
    right: 0;
    top: 0;
    max-height: 0;
    width: 200%;
    overflow: hidden;
    transition: max-height 0.25s linear, padding 0.25s linear;

    background-color: var(--search-background);
    box-shadow: 0px 8px 16px 0px var(--text);
    border-radius: 10px 0px 0px 10px;
    padding-left: 30px; /* serve per dare un effetto trapuntato all'animazione*/
  }

  .right_aperta {
    max-height: 50rem;
    width: 200%;
    padding-top: 1rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 600px) {
  /* ======================= COLONNA SINISTRA ===========*/
  .dropdown {
    width: 300%;
  }

  .indice_aperto {
    width: 300%;
  }

  /* ======================= COLONNA DESTRA ===========*/
  .sidebar_right {
    width: 300%;
  }

  .right_aperta {
    width: 300%;
  }
}