/* ======================= MAIN CSS ======================= */

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1500px) {
  .left {
    width: 25%;
  }

  .middle {
    padding: 10px 15px;
    width: 50%;
  }

  .right {
    width: 25%;
  }
}

@media screen and (max-width: 1200px) {

  /* =========================
   TITOLI
   ========================= */
  h1 {
    font-size: 20pt;
    text-transform: uppercase;
  }

  h2 {
    font-size: 18pt;
  }

  h3 {
    font-size: 16pt;
  }

  h4 {
    font-size: 14pt;
  }

  /* ==================== MARGIN INDICE =========================== */
  .h3_indice {
    margin-left: 1rem;
  }

  .h4_indice {
    margin-left: 1.5rem;
    margin-top: -0.5rem;
  }
}
