/* ======================= MAIN CSS ======================= */

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 992px) {

  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 100%;
    margin-top: 1rem;
  }

  .left {
    margin: 0;
    padding: 0;
  }

  .middle {
    padding: 0px 15px;
  }

  .right {
    margin: 0;
    padding: 0;
    position: absolute;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* =========================
   CONTENUTO PRINCIPALE
   ========================= */
  main {
    padding-top: 0rem;
  }

  /* niente sfondo bianco */
  main * {
    background: transparent;
  }

  .input {
    padding-bottom: 2rem;
  }

  /* =========================
   TITOLI
   ========================= */
  h1,
  h2,
  h3,
  h4 {
    font-family: Inter, sans-serif;
    font-weight: 600;
    line-height: 1;
    text-align: left;
  }

  h1 {
    font-size: 20pt;
    text-transform: uppercase;
  }

  h2 {
    font-size: 18pt;
  }

  h3 {
    font-size: 16pt;
  }

  h4 {
    font-size: 14pt;
  }

    /* ==================== MARGIN INDICE =========================== */
  .h3_indice {
    margin-left: 3rem;
  }

  .h4_indice {
    margin-left: 4.5rem;
    margin-top: -0.5rem;
  }

  /* ======================= SEARCH BAR CSS ======================= */

  .search-box {
    width: 35rem;
  }

  #searchInput {
    width: 25rem;
  }

  #searchInput[type=search]:focus {
    width: 35rem;
  }

  #searchResults {
    width: 34rem;
  }

  .result {
    line-height: 1.1;
  }

  /* =================== BOTTONI MOBILE =============== */
  #bottoni_mobile {
    visibility: visible;
    display: flex;
    height: 20pt;
  }

  #apri-indice-mobile {
    position: absolute;
    width: 50%;
    height: 20pt;
    background-color: var(--search-background);
    color: var(--text);
    border-top: 0px;
    border-left: 0px;
    border-bottom: 1px solid var(--border);
    border-right: .5px solid var(--border);
    cursor: pointer;
  }

  #apri-accessibilità-mobile {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 20pt;
    background-color: var(--search-background);
    color: var(--text);
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px solid var(--border);
    border-left: .5px solid var(--border);
    cursor: pointer;
  }

  .titolo-bottone-mobile {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
  }

  /* ======================= COLONNA SINISTRA ===========*/
  .dropdown {
    max-height: 0;
    width: 50%;
    overflow: hidden;
    transition: max-height 0.25s linear, padding 0.25s linear;

    background-color: var(--search-background);
    box-shadow: 0px 8px 16px 0px var(--text);
    border-radius: 0px 10px 10px 0px;
  }

  .indice_aperto {
    max-height: 50rem;
    width: 50%;
    padding-top: 1rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }

  /* ======================= COLONNA DESTRA ===========*/
  .sidebar_right {
    position: absolute;
    right: 0;
    top: 0;
    max-height: 0;
    width: 50%;
    overflow: hidden;
    transition: max-height 0.25s linear, padding 0.25s linear;

    background-color: var(--search-background);
    box-shadow: 0px 8px 16px 0px var(--text);
    border-radius: 10px 0px 0px 10px;
  }

  .right_aperta {
    max-height: 50rem;
    width: 50%;
    padding-top: 1rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}