@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --text: #1f1f1f;
  --muted: #6b6b6b;
  --primary: #70193D; /* Mulberry */
  --border: #dddddd;
  --link: #191970; /* Midnight Blue */
  --background: #1919704F;
  --link-10: oklch(from var(--link) l c h / 0.1);
}

.h1_indice {
  text-transform: uppercase;
  color: var(--primary);
}

.h2_indice {
  padding-left: 0.5rem;
  margin-top: 0rem;
  padding-top: 1rem;
}

.h3_indice {
  font-size: 1rem;
  padding-left: 1.5rem;
  margin-top: -0.2rem;
}

.h4_indice {
  padding-left: 3rem;
  margin-top: -0.2rem;
}

.dropbutton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  color: var(--text);
}

.dropbutton:hover, .dropbtn:focus {
  background-color: var(--link-10);
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  overflow: auto;
  min-width: 160px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside dropdown content */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.show {display: block;}