.h1_indice {
  color: var(--primary);
}

.h3_indice {
  margin-left: 3rem;
}

.h4_indice {
  margin-left: 4.5rem;
  margin-top: -0.5rem;
}

/* ========== MENÙ A CASCATA ================= */

.dropbutton {
  background-color: transparent;
  border: none;
  /*border-bottom: 2px solid var(--border);*/
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  color: var(--text);
  height: 22pt;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

/* Dropdown content */
.dropdown-content {
  /*display: none;*/
  max-height: 0;
  opacity: 0;
  /*position: relative;*/
  background-color: transparent;
  overflow: hidden;
  min-width: 160px;
  z-index: 1;
  transition: max-height  .5s ease,
              opacity .5s ease;
}

/* Links inside dropdown content */
.dropdown-content a {
  color:  var(--link);
  text-decoration: none;
  display: list-item;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: var(--primary);
}

.attivo {
  box-shadow: inset 3px 0 0 var(--primary);
  background: linear-gradient(
    90deg,
    oklch(from var(--primary) l c h / 0.6),
    oklch(from var(--primary) l c h / 0.4)
  );
}

.show {
  /*display: block;*/
  max-height: 20rem;
  opacity: 1;
}

/* ========== MOVIMENTO CHEVRON ==============*/
.chevron {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  top: -.4rem;
	transition: transform 0.5s ease;
  margin: 0px 13.825px;
}